.certifications{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 88px 0;
}

.certifications-title{
    position: relative;
    
}

.certifications-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    width: 200px; /* Default width for larger screens */
    margin-right: 0;
 }

.certifications-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}

.certifications-countainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 0 40px 70px 40px;
    justify-content: space-;
}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 50px;
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 25px; 
    font-family: outfit;
    font-weight: 300;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
    z-index: 2; 
  }

.certification-pic img{
    position: relative;
    width: 100%; 
    min-width: 280px;
    height: auto;
    border-radius: 2px; 
    overflow: hidden;
    display: block; 
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .certification-pic img:hover {
    filter: brightness(0.1); 
  }
  
  .certification-pic {
    position: relative;
    overflow: hidden; 
  }
  
  .certification-pic::before {
    content: "";
    font-size: 20px;
    position: absolute;
    bottom: -100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, hsla(324, 100%, 12%, 0.95), hsla(25, 100%, 17%, 0.95));
    transition: bottom 0.3s ease;
    z-index: 1;
  }
  
  .certification-pic:hover::before {
    bottom: 0; 
    cursor: pointer;
    opacity: 1;
  }

  .certification-pic:hover .overlay-text{
    opacity: 1;
    z-index: 1;
    cursor: pointer;
  }
  
  .certification h3 {
    position: relative;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: outfit;
    font-weight: 400;
  }
  
  .certification-pic a {
    text-decoration: none; /* Remove underline */
    z-index: 1; 
}

@media(max-width:1170px){
  .certifications{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
  .certifications-title{
    margin: 0 30px;
    min-width: fit-content;
    position: relative;
  }
  .certifications-title h1{
    padding: 0;
    margin: 0 auto;
    font-size: 50px;
  }
  .certification h3{
    font-size:x-large;
    font-weight: 500;
    width: 100%;
    min-width: 280px;
  }
  .certifications-title img{
  width: 130px;
  margin-right: -20px;
 }
 .certifications-countainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  align-items: center;
  margin: 0 80px 70px 80px;
 }
 .certification-pic img{
  display: flex;
  margin-top: 20px;
  width: 100%; 
  padding: 20px;
  max-width: 500px;
 }
}

