.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.header img{
    margin-top: 150px;
    border-radius: 50%;
}

.header h1{
    margin: 0 70px;
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 600;
}

.header h1 span{
   background: linear-gradient(270deg, #DF8908 10%, #B415FF 100% );
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.header p{
    width: 50%;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}

.header-action{
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.header-cv{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(260deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}

.header-action a{
    color: azure;
    text-decoration: none;
}

.header-cv:hover{
    border: 2px solid white ;
}

@media(max-width:768px){
    .header{
        align-items: center;
        position: relative;
        min-width: fit-content;
        
    }
    .header img{
        margin:  50px 20vh;
        width: 260px;
    }

    .header h1{
    width: 90%;
    font-size: 40px;
    margin: 0 6px;


    }
    .header p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        position: relative;
        margin: 0 20px;
        text-align: center;
    }
    .header-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
    }
}
